/* Container for exercise cards */
.exercise-card-container {
  display: grid;
  grid-template-columns: repeat(3, 0.8fr);
  gap: 100px;
  padding: 120px;
}

/* Individual exercise card */
.exercise-card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Green exercise card */
.green-card {
  background-color: #80ff80;
  border: 1px solid #008000;
}

/* Blue exercise card */
.blue-card {
  background-color: #80bfff;
  border: 1px solid #0000ff;
}

/* Red exercise card */
.red-card {
  background-color: #ff8080;
  border: 1px solid #800000;
}

.exercise-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.exercise-details {
  flex-grow: 1;
}

.exercise-name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0;
}

.exercise-info {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.exercise-label {
  font-weight: 600;
}

.view-instructions-link {
  background-color: #f9a620;
  color: #fff;
  border-radius: 4px;
  padding: 12px 24px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
}

.view-instructions-link:hover {
  background-color: #03910f;
  scale: 1.1;
}