.main{
   
    display: flex;
    flex-direction: column;
}
.equipment-icon {
    margin-left: 5px;
    font-size: 24px;
  }
  .instructions {

  }
  
  .instructions p {

  }
  
  .instructions button {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .instructions button:hover {
    text-decoration: none;
  }





  @media screen and (max-width: 600px){
    .main{
        display: flex;
        flex-direction: column;
    } 
}